 {% extends 'mali_project/base.html' %}
{% load static %}
{% load semanticui %}

{% block title %}A propos{% endblock %}
{% block overview %}{% endblock %}
{% block content%}
	<div class=" ui text container container_wrap" id="about_container">
		<h2 class="ui header "> Présentation </h2>
			<p>
			L’initiative Global Health Security Agenda (GHSA) a été lancé en 2015 par le gouvernement américain par l’intermédiaire du Center for Disease Control and prévenirention (CDC) et l’Agence des Etats Unis pour le Développement International (USAID). 
		</p>
		<p>
			Cette initiative dont le Mali est partie prenante, a pour but de prévenir, détecter et riposter rapidement à des menaces de santé publique, qu’elles soient naturelles, délibérées ou accidentelles, contribuant ainsi au renforcement de la mise en œuvre du Règlement Sanitaire International (RSI).
			Un axe important de la surveillance des maladies à potentiel épidémique est le contrôle des points d’entrée sur le territoire. C’est pourquoi la présente plateforme a été développée afin de collecter les informations sur les passagers dans le but de renforcer la surveillance des maladies à potentiel épidémique dans une approche OneHealth.
		</p>
		<h2 class= 'ui header'>Vision</h2>
		<p>
			Notre vision est un monde sûr et sécurisé contre les menaces pour la santé mondiale posées par les maladies infectieuses - où nous pouvons prévenir ou atténuer l’impact des épidémies naturelles et des rejets accidentels ou intentionnels d’agents pathogènes dangereux, détecter rapidement et en toute transparence les éclosions lorsqu’elles se produisent un réseau mondial interconnecté capable de réagir efficacement afin de limiter la propagation d'épidémies de maladies infectieuses chez l'homme et les animaux, d'atténuer les souffrances humaines et le nombre de pertes de vies humaines, ainsi que de réduire l'impact économique.

			La sécurité sanitaire mondiale est une responsabilité partagée qui ne peut être réalisée par un seul acteur ou secteur du gouvernement. Son succès dépend de la collaboration entre la santé, la sécurité et l'environnement. et les secteurs de l'agriculture.
		</p>
	</div>
{% endblock %}

{% block datejs %}
{% endblock %}