{% extends 'mali_project/base.html' %}
{% load static %}
{% load semanticui %}
{% block extrahead %}
<style type="text/css">
body{
 background-color: #DADADA;
}
    #main > .grid {
      height: 80%;
      margin-top: 5em;
    }
    
    #login-column {
      max-width: 550px;
    }
  </style>
{% endblock %}
{% block title %}Authentification{% endblock %}
{% block overview %}{% endblock %}
{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column left aligned" id="login-column">
    <div class="ui segment" >
      <h2 class="ui header center aligned">
      <div class="content">
        Veuillez-vous identifier
      </div>
    </h2>
    <form class="ui large form" method="POST">
      {% csrf_token %}
      {% render_form form %}

      <button type="submit" class="ui primary button">S'identifier</button>

      {% if messages %}
        {% for message in messages %}
          <div class="ui {{message.tag}} message">
            <i class="close icon"></i>
            <div class="header">
              {{message}}
            </div>
          </div>
        {% endfor %}
      {% endif %} 
    </form>
    </div>
  </div>
  </div>
  {% block datejs %}
  {% endblock %}
{% endblock %}