{% extends 'mali_project/base.html' %}
{% load static %}
{% load semanticui %}
{% load humanize %}

{% block title %} Confirmation de suppression {% endblock %}
{% block content%}
<div class="ui container stripe container_wrap">
	<form class="ui form" method="post">
		{% csrf_token %}
		<h2 class="ui header left aligned">
			<i class='exclamation triangle icon'></i> 
			Voulez-vous vraiment supprimer le formulaire {{object.identifiant}} ?
		</h2>
		<button class="ui button negative" type="submit">Confirmer</button>
		<button class="ui button">Retour</button>
	</form>
</div>
{% endblock %}